/* ============= Dark Mode ============= */

.darkmode {
    background-color: var(--darkmode-color);
    color: var(--darkmode-text);
}

.map .darkmode-map {
    filter: brightness(80%);
    box-shadow: none;
    color:black;
}

.darkmode a {
    text-decoration: none;
    color: var(--accent1-color);
}


/* ============= Dark Footer ============= */
.darkmode footer h3 {
    color: var(--darkmode-text);
}

.darkmode footer ul {
    color: var(--darkmode-text);
}

.darkmode footer a {
    color: var(--darkmode-text);
}

.darkmode footer img {
    filter:brightness(90%)
}

.darkmode #footer-end {
    background-color: var(--darkmode-color);
}

/* ============= Dark Menu Control ============= */

.darkmode ul li a {
    color: var(--darkmode-text);
}

.darkmode ul .active {
    background-color: var(--primary-color);
    color: var(--white);
}

.darkmode .navigationmenu.show:last-child {
    border-bottom: 2px solid black;
}

/* ============= Dark Cards ============= */

.darkmode .block-style {
    background-color: var(--darkmode-color-card);
}

.darkmode .card h3 {
    color: var(--darkmode-text);
}

.darkmode .card a {
    color: var(--darkmode-text);
}

.darkmode .events li {
    background-color: var(--darkmode-color);
}

.darkmode #cards h3 {
    color: var(--accent1-color);
}

.darkmode #cards h4 {
    color: var(--darkmode-text);
}

/* ============= Dark Discover ============= */

.darkmode h1 {
    color: var(--accent1-color);
}
.darkmode #leftbar {
    background-color: var(--darkmode-color-card);
}

.darkmode #leftbar h2 {
    color: var(--accent1-color);
}

.darkmode .photo-captioned {
    background-color: var(--darkmode-color-card);
}

.darkmode #welcome-banner {
    background-color: var(--accent3-color);
    color: var(--darkmode-text);
}

/* ============= Dark Join ============= */

.darkmode #join-page h3 {
    color: var(--accent1-color);
}

.darkmode #join-page h3 {
    color: var(--accent1-color);
}


.darkmode form fieldset,
.darkmode form label,
.darkmode form input,
.darkmode form div {
    background-color: var(--darkmode-color-card);
    color: white;
}

.darkmode form input,
.darkmode form textarea {
    background-color:rgb(196, 197, 199);
    color: black;
}

.darkmode form legend {
    color: var(--accent1-color);
}

.darkmode #form-membership p {
    color:var(--accent1-color);
}

.darkmode .submitBtn {
    background-color: var(--accent3-color);
    color: white;
}

.darkmode #thank-you p {
    background-color: var(--darkmode-color-card);
}

.darkmode #thank-you .cherry::first-line {
    color: var(--primary-color);
}

/* ============= Dark Directory ============= */
.darkmode #directory.grid-view .member-info {
    background-color:var(--darkmode-color-card);
    border: 5px var(--darkmode-color) solid;
}

.darkmode .member-info p {
    color: var(--accent1-color);
}

.darkmode #directory .member-info:nth-child(even) {
    background-color: var(--darkmode-color-card);
}