@media screen and (min-width:1001px) {


    /* ============= Menu Control ============= */
    
    header {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    #hamburgermenu {
        display: none;
    }

    .navigationmenu {
        display: flex;
        flex-direction: row;
    }

    .navigationmenu li {
        display: block;
        flex: 1 1 100%;
    }

    /* ============= Card Control ============= */
    #cards {
        display: grid;
        grid-template-columns: 32% 32% 32%;
        column-gap: 1.5em;
    }

    #cards > *:last-child {
        grid-column: 1/4;
    }


    /* ============= Footer Control ============= */

    #footer-contact {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    /* ============= Map Control ============= */
    .map iframe {
        height: 200px;
        width: 100%;
    }

    /* ============= Discover Page ============= */
    #discover {
        display: grid;
        grid-template-columns: minmax(250px, 1fr) 3fr;
        width: 100%;
    }

    #photo-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .photo-captioned {
        filter: brightness(95%);
    }

    .photo-captioned:hover {
        filter:brightness(110%);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #photo-gallery h2,
    #photo-gallery hr,
    #photo-gallery p {
            grid-column: 1/3;
        
    }

    #leftbar {
        grid-row: 1;
    }

    /* ============= Join Page ============= */

    #form-join {
        width: 90%;
        margin: 0 auto ;

    }

    #benefits h2 {
        text-align: left;
    }

    #join-page {
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        width: 90%;
        margin: 20px auto 40px auto;
    }

    /*=============== Directory ============= */

    #directory.grid-view .member-info {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, .5fr);
        grid-template-areas: "logo    name    name        name"
                            "logo    address contact     membership"
                            "logo    address contact     membership"
                            "logo    website website     website";
        max-width: 90%;

    }

    .grid-view .member-info p {
        font-size: 1.6em;
    }

    .grid-view .member-info address {
        font-size: 1.1em;
    }

    .grid-view .member-info .website {
        font-size: 1.3em;
    }

    .grid-view .member-info .phonenumbers {
        font-size: 1.1em;
    }

}
