@media screen and (min-width: 600px) and (max-width:1000px) {

    main #cards {
        display: grid;
        grid-template-columns: 48% 48%;
        column-gap: 2em;
    }

    #footer-contact {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    #footer-contact .map {
        grid-column: 1/3;
    }

    .hero-txt h2:before {
        content: "Medium";
    }
}