@media screen and (min-width: 600px) and (max-width:1000px) {

    main #cards {
        display: grid;
        grid-template-columns: 48% 48%;
        column-gap: 2em;
    }

    #footer-contact {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    #footer-contact .map {
        grid-column: 1/3;
    }

    #discover {
        display: grid;
        grid-template-columns: minmax(300px, 1fr) 3fr;
        width: 100%;
    }

    #photo-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #leftbar {
        padding: 20px 20px 0 20px;
        background-color: var(--secondary-color);
    }

    #photo-gallery h2, hr, p {
        grid-column: 1/3;
    }

}