@media screen and (min-width:950px) {

    header h1 {
        font-size: xxx-large;
    }

    footer {
        padding: 20px;
        font-size: large;
    }

    nav {
        padding: 0px;
        font-size: large;
    }
    nav ul {
        display: inline-flex;
        justify-content: space-around;
    }

    nav ul li {
        display: block;
        flex: 1 1 100%;
    }

    body {
        width: 80%;
    }
    
    main {
        width: 100%;
    }

    #main-area {
        width: 90%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 10px;
        column-gap: 30px;
    }

    .map {
        grid-column: span 2;
        margin-bottom: 40px;
    }

    iframe {
        height: 600px;
        width: 72vw;
    }
    main h2 {
        grid-column: 1/3;
    }

    #hamburgermenu {
        display: none;
    }

    .herotext {
        font-size: 2.5em;
    }
}